<%= link_to 'New Post', new_post_path, class:"button secondary" %>

<% @posts.each do |post| %>
  <%= render 'post', post: post %>
<% end %>

<% @category.each do |category| %>
<p>
<%= 
    link_to category.category, posts_path(category: category.category) 
    %>
</p>
<% end %>


